/**********
* Main rules of the structure of each pages
**********/

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.full-height {
  height: 100vh;
}

.landscape {
  background-image: url('../../../img/landscape.jpg');
}

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-blue {
  background-color: var(--color-blue) !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.opacity-50 {
  opacity: .5;
}

/**********
* Dashboard structure rules of the structure of each pages
**********/

.wrapper {
  width: 100%;
  min-height: 100vh;
}

#content {
    position: relative;
    flex-basis: 100%;
}


/**********
* Cards
**********/
.sizeUp:hover {
  transform: scale(1.3);
}

.mediumCardDuration{
  position: absolute; bottom: 0px; right: 0px;
}



/*modals*/
.containerVideo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}